---
version: v1alpha1
machine:
  ca:
    crt: op://kubernetes/talos/MACHINE_CA_CRT
  features:
    diskQuotaSupport: true
  logging:
    destinations:
      - endpoint: "tcp://127.0.0.1:5171"
        format: "json_lines"
  token: op://kubernetes/talos/MACHINE_TOKEN
cluster:
  ca:
    crt: op://kubernetes/talos/CLUSTER_CA_CRT
  clusterName: main
  controlPlane:
    endpoint: https://k8s.internal:6443
  token: op://kubernetes/talos/CLUSTER_TOKEN
---
apiVersion: v1alpha1
kind: ResolverConfig
searchDomains:
  domains: []
hostDNS:
  enabled: true
  forwardKubeDNSToHost: true
  resolveMemberNames: true
nameservers:
  - address: 172.16.69.1
---
apiVersion: v1alpha1
kind: TimeSyncConfig
ntp:
  servers:
    - 162.159.200.1
    - 162.159.200.123
---
apiVersion: v1alpha1
kind: DiscoveryServiceConfig
name: default
endpoint: https://discovery.talos.dev/
---
apiVersion: v1alpha1
kind: DiscoveryIdentityConfig
clusterID: op://kubernetes/talos/CLUSTER_ID
clusterSecret: op://kubernetes/talos/CLUSTER_SECRET
---
apiVersion: v1alpha1
kind: UnattendedInstallConfig
installer:
  image: factory.talos.dev/metal-installer/{{ schematic }}:v1.14.0
provisioning:
  diskSelector:
    match: disk.model == "TS256GMTS430S"
  wipe: false
---
apiVersion: v1alpha1
kind: FilesystemTrimConfig
interval: 168h0m0s
---
apiVersion: v1alpha1
kind: FilesystemScrubConfig
interval: 168h0m0s
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: nbd
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: thunderbolt
---
apiVersion: v1alpha1
kind: KernelModuleConfig
name: thunderbolt_net
---
apiVersion: v1alpha1
kind: SysctlConfig
params:
  fs.inotify.max_user_instances: "8192" # increase for watchdog
  fs.inotify.max_user_watches: "1048576" # increase for watchdog
  net.core.rmem_max: "67108864" # increase for cloudflared | QUIC
  net.core.wmem_max: "67108864" # increase for cloudflared | QUIC
  net.ipv4.neigh.default.gc_thresh1: "4096" # increase to prevent ARP cache overflow
  net.ipv4.neigh.default.gc_thresh2: "8192" # increase to prevent ARP cache overflow
  net.ipv4.neigh.default.gc_thresh3: "16384" # increase to prevent ARP cache overflow
  net.ipv4.tcp_slow_start_after_idle: "0" # preserve congestion window after idle
  user.max_user_namespaces: "11255" # reduce max user namespaces
---
apiVersion: v1alpha1
kind: EtcFileConfig
name: nfsmount.conf
mode: 0o644
contents: |
  [ NFSMount_Global_Options ]
  nfsvers=4.1
  hard
  nconnect=16
  max_connect=4
  trunkdiscovery
  rsize=1048576
  wsize=1048576
---
apiVersion: v1alpha1
kind: CRICustomizationConfig
name: containerd
content: |
  [plugins."io.containerd.cri.v1.images"]
    discard_unpacked_layers = false
  [plugins."io.containerd.cri.v1.runtime"]
    device_ownership_from_security_context = true
---
apiVersion: v1alpha1
kind: KubeNodeConfig
nodeIP:
  validSubnets:
    - 172.16.69.0/24
    - fdca:fec0:ffee:0069::/64
labels:
  node.kubernetes.io/gpu: "true"
  topology.kubernetes.io/region: main
---
apiVersion: v1alpha1
kind: KubeletConfig
config:
  cpuManagerPolicy: static
  reservedSystemCPUs: "0"
  crashLoopBackOff:
    maxContainerRestartPeriod: 60s
  imageGCHighThresholdPercent: 70
  imageGCLowThresholdPercent: 50
  imageMaximumGCAge: 168h
  maxParallelImagePulls: 3
  serializeImagePulls: false
  shutdownGracePeriod: 90s
  shutdownGracePeriodCriticalPods: 60s
defaultRuntimeSeccompProfileEnabled: true
image: ghcr.io/siderolabs/kubelet:v1.37.0
---
apiVersion: v1alpha1
kind: KubeNetworkConfig
dnsDomain: cluster.local
podSubnets:
  - 10.42.0.0/16
  - fdca:fec0:ffee:42::/108
serviceSubnets:
  - 10.43.0.0/16
  - fdca:fec0:ffee:43::/108
nodeCIDRMaskSizeIPv4: 24
nodeCIDRMaskSizeIPv6: 112
---
apiVersion: v1alpha1
kind: KubePrismConfig
port: 7445
---
apiVersion: v1alpha1
kind: KmsgLogConfig
name: fluent-bit
url: tcp://127.0.0.1:5170/
---
apiVersion: v1alpha1
kind: UdevRulesConfig
rules:
  - ACTION=="add", SUBSYSTEM=="thunderbolt", ATTR{power/control}="on"
  - ACTION=="add", SUBSYSTEM=="pci", ATTR{vendor}=="0x8086", ATTR{device}=="0x46a6", ATTR{sriov_numvfs}="7"
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: enp100s0
clientIdentifier: mac
